<div class="entry">
	<h3 class="h3">How much a dollar really cost?</h3>
	<div class="outer">
		<p>N<span id="hdollar"><%= @formattedrate %></span></p>
	</div>
</div>

<p class="left"><a href="bdcrate">BDC Rates</a></p>
<p class="source">Scraped from <a target="_blank" href="https://abokifx.com">abokifx.com</a></p>